# ================================
# Variables de entorno - Frontend
# ================================
DOCKERHUB_USERNAME=tu_usuario_dockerhub

# URL del backend Ventas (IP privada EC2 Data)
VITE_VENTAS_API_URL=http://10.0.2.132:8080

# URL del backend Despachos (IP privada EC2 Backend)
VITE_DESPACHOS_API_URL=http://10.0.2.234:8081
